@import "~bootstrap/scss/bootstrap";
@import "./spinner.scss";
@import "./colors.scss";

header {
  background: $primary-yellow;
}
body {
  background: $light-grey;
  color: $primary-black;
  overflow-y: scroll;
}
.app {
  background: $light-grey;
  main {
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

/* Components */
@import "./search-bar.scss";
@import "./search-results.scss";
@import "./item-detail.scss";
